.container{
    width: 100%;
    max-width: 1079px;
    margin: 0 auto;
    overflow: hidden;
}

/*header start*/
.container--header{
    max-width: 1095px;
}
.header{
    position: relative;
}

.logo_wrap{
    width: 202px;
    height: 201px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -101px;
    background-color: #a59864;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    z-index: 1;
         @include r(1023){
             display:none;
        }
}
.logo_wrap--mobile{
    float: left;
    padding: 5px;

    @include rmin(1024){
        display: none;
    }
}
 .logo{
     @include s(logo);
     margin: 76px auto 0 auto;
     &--mobile{
         @include s(logo-mobile);
     }
 }

.top_line{
    border-top: 1px solid #a59864;
    height: 53px;
    line-height: 53px;
    @include r(1023){
        display: none;
    }
}

.container--header-footer{
    overflow: visible;
    display: block;
    position: relative;
 
    @include r(768){
        display: block;
    }
}

.header-footer{
    background-color: #a59864;
}

.header-footer__icon{
    position: absolute;
    top: 0;
    left: -117px;
    @include s(award);
    &:hover{
        @include s(award-hover);
    }
    width: 117px;

    @include r(768){
        position: static;
        float: left;
        clear: right;
        margin: 5px 3px 0 1px;
    }
    @include r(1024){
        position: static;
        float: left;
        clear: right;
        margin: 0 3px 0 1px;
    }
}

.header-footer__info-block{
    /*width: 307px;*/
    margin: 0 0 0 40px;
    padding: 31px 0 33px 0;
    
    @include r(768){
        width: 100%;
        margin: 0 0 0 0;
        padding: 5px 10px 5px 10px;
    }
    @include r(1024){
        width: 29%;
        margin: 0 0 0 0;
        padding: 5px 10px 5px 10px;
    }

    .header-footer__info{
        display: inline-block;
        columns: 307px 3;
        @include helvetica-light;
        font-size: em(14);
        color: #fff;
        line-height: 1.22;
    }
}

/*header end*/

/*apartments start*/

.apartments{
    padding: 108px 0 0 0;
}

/*apartments end*/