.container{
    width: 100%;
    max-width: 1079px;
    margin: 0 auto;
    overflow: hidden;
}

/*header start*/
.container--header{
    max-width: 1095px;
}
.header{
    position: relative;
}

.logo_wrap{
    width: 202px;
    height: 201px;
    position: absolute;
    top: 0;
    left: 44.7%;
    background-color: #a59864;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    z-index: 10;
}
 .logo{
     @include s(logo);
     margin: 76px auto 0 auto;
 }

.top_line{
    border-top: 1px solid #a59864;
    height: 53px;
    line-height: 53px;
}

/*header end*/

/*apartments start*/

.apartments{
    padding: 108px 0 0 0;
}

/*apartments end*/