--- title: Obolon Residences --- {% extends "layouts/_layout.html" %} {% block content %}

<!--HEADER start-->
<header class="header">
	<form class="form mfp-hide form--sign_up" id="sign_up_for_viewing">
		<h1 class="form__title form__title--sign_up">Записаться на просмотр <a href="#!" class="form--sign_up_close">Ñ</a></h1>
		<p class="form__input_wrap"><input type="text" class="form__input" placeholder="Введите Имя"></p>
		<p class="form__input_wrap"><input type="text" class="form__input" placeholder="Введите e-mail/телефон"></p>
		<p class="form__input_wrap"><textarea class="form__input form__textarea" placeholder="Введите дату и время"></textarea>
			<p> <input type="submit" class="form__submit" value="Отправить"></p>
	</form>
	<!--LOGO start-->
	<div class="logo_wrap">
		<div class="logo"></div>
	</div>
	<div class="logo_wrap--mobile">
		<div class="logo--mobile"></div>
	</div>
	<!--LOGO end-->

	<!--menu mobile start-->
	<div class="mb_menu_wrap">
		<div class="mb_menu_wrap__icon"></div>
		<ul class=" menu menu_mobile">
			<li class="menu_mobile__item">
				<a href="#!" class="menu__link">Преимущества</a>
			</li>
			<li class="menu_mobile__item">
				<a href="#!" class="menu__link">Расположение</a>
			</li>
			<li class="menu_mobile__item">
				<a href="#!" class="menu__link">Галерея</a>
			</li>
			<li class="menu_mobile__item">
				<a href="#!" class="menu__link">Апартаменты</a>
			</li>
			<li class="menu_mobile__item">
				<a href="#!" class="menu__link">Девелопер</a>
			</li>
			<li class="menu_mobile__item">
				<a href="#!" class="menu__link">Контакты</a>
			</li>
		</ul>
	</div>
	<!--menu mobile end-->

	<!--CONTAINER start-->
	<section class="container container--header">

		<!--TOP CONTACTS start-->
		{%include "partials/_top-contacts.html"%}
		<!--TOP CONTACTS end-->

	</section>
	<!--CONTAINER end-->

	<div class="top_line">

		<!--CONTAINER start-->

		<section class="container">
			{%include "partials/_menu.html"%}
		</section>

		<!--CONTAINER end-->

	</div>

	<section class="slider_wrap">
		<div class="slider">
			{% include "partials/_slider.html"%}

		</div>
		<!--slider footer start-->
		<div class="slide__footer">

			<section class="container container--slider">
				<div class="slide__icon"></div>

				<div class="slide__info_block">
					<p class="slide__info">
						Obolon Residences – жилой комплекс премиум класса, созданный по западным стандартам британским девелопером Dragon-Ukrainian
						Properties & Development. Комплекс находится в самом сердце Оболони, в нескольких шагах от станции метро «Минская».
						<br>Западный дизайн, роскошные интерьеры<br> лобби и этажей, отделка мрамором,
					</p>
				</div>

				<div class="slide__info_block">
					<p class="slide__info">
						скоростные лифты – это лишь несколько отличительных черт комплекса. Квартиры с панорамными окнами и эффективными планировками
						и элитные пентхаусы удивят даже самых искушенных. Беспрецедентный комплекс услуг и эксклюзивная инфраструктура лучших
						резиденций мировых мегаполисов – для жителей Obolon Residences:
					</p>
				</div>

				<div class="slide__info_block">
					<p class="slide__info">
						лаунж-зона на крыше с джакузи, спортзал, детская комната, конференц-зал, прачечная и пятизвездочный сервис.
						<br>
						<br> ЖК Obolon Residences – победитель престижной европейской премии European Property Awards 2014-2015 в категории
						«Высотные жилые здания».
					</p>
				</div>

			</section>

		</div>
		<!--slider footer end-->
	</section>

</header>
<!--HEADER end-->

<!--BENEFITS block start-->
<section class="benefits_block">

	<div class="benefits_modal mfp-hide" id="benefits_modal_link">
		{% include "partials/_concierge-modal.html"%}
	</div>

	<!--benefits info start-->
	<section class="benefits_block__info">
		<section class="container">
			{% include "partials/_benefits-info.html" %}
		</section>
	</section>
	<!--benefits info end-->
	<section class="container">
		<section class="benefits_galary">
			{% include "partials/_benefits-galary.html" %}
		</section>
	</section>
</section>
<!--BENEFITS block end-->

<!--MAP start-->

<section class="map_block">
	<div id="map" class="map"></div>
</section>

<!--MAP end-->

<!--apartments start-->

<section class="apartments">
	<section class="container">

		<!--apartments topline start-->
		{% include "partials/_apartments-topline.html" %}
		<!--apartments topline end-->

		<!--apartments info block start-->
		{% include "partials/_apartments-info.html" %}
		<!--apartments info block end-->

	</section>
</section>

<!--apartments end-->

<!--observation start-->

<section class="observation">
	<!--observation web camera modal start-->
	<div class="observation__modal observation__modal--webcam mfp-hide" id="webcam">
		<img src="http://31.43.111.146/video2.mjpg" />
		<a href="#!" class="observation__modal__close webcam_close"></a>
	</div>
	<!--observation web camera modal end-->

	<!--observation galary modal start-->
	<div class="gallery_modal mfp-hide" id="gallery">
		{% include "partials/_gallery.html" %}
		<a href="#!" class="observation__modal__close gallery_close"></a>
		<a href="#!" class="gallery_arrow gallery_arrow--prev"></a>
		<a href="#!" class="gallery_arrow gallery_arrow--next"></a>


	</div>
	<!--observation galary modal end-->


	{% include "partials/_observation.html" %}
</section>

<!--observation end-->

<!--developer start-->

<section class="developer">
	<section class="container">

		{% include "partials/_developer.html" %}

	</section>
</section>

<!--developer end-->

<!--footer start-->
<section class="footer">

	<section class="container">
		{% include "partials/_footer.html" %}
	</section>

</section>
<!--footer end-->

{% endblock %}