--- title: Obolon Residences --- {% extends "layouts/_layout.html" %} {% block content %}

<!--HEADER start-->
<header class="header">
	<form class="form mfp-hide form--sign_up" id="sign_up_for_viewing">
		<h1 class="form__title form__title--sign_up">Записаться на просмотр <a href="#!" class="form--sign_up_close">Ñ</a></h1>
        <p class="form__input_wrap"><input type="text" class="form__input" placeholder="Введите Имя"></p>
        <p class="form__input_wrap"><input type="text" class="form__input" placeholder="Введите e-mail/телефон"></p>
        <p class="form__input_wrap"><textarea class="form__input form__textarea" placeholder="Введите дату и время"></textarea>
        <p> <input type="submit" class="form__submit" value="Отправить"></p>
    </form>
	<!--LOGO start-->
	<div class="logo_wrap">
		<div class="logo"></div>
	</div>
	<!--LOGO end-->

	<!--CONTAINER start-->
	<section class="container container--header">

		<!--TOP CONTACTS start-->
		{%include "partials/_top-contacts.html"%}
		<!--TOP CONTACTS end-->

	</section>
	<!--CONTAINER end-->

	<div class="top_line">

		<!--CONTAINER start-->

		<section class="container">
			{%include "partials/_menu.html"%}
		</section>

		<!--CONTAINER end-->

	</div>

	<section class="slider">
		{% include "partials/_slider.html"%}
	</section>

</header>
<!--HEADER end-->

<!--BENEFITS block start-->
<section class="benefits_block">
	<!--benefits info start-->
	<section class="benefits_block__info">
		<section class="container">
			{% include "partials/_benefits-info.html" %}
		</section>
	</section>
	<!--benefits info end-->
	<section class="container">
		<section class="benefits_galary">
			{% include "partials/_benefits-galary.html" %}
		</section>
	</section>
</section>
<!--BENEFITS block end-->

<!--MAP start-->

<section class="map_block">
	<div id="map" class="map"></div>
</section>

<!--MAP end-->

<!--apartments start-->

<section class="apartments">
	<section class="container">

		<!--apartments topline start-->
		{% include "partials/_apartments-topline.html" %}
		<!--apartments topline end-->

		<!--apartments info block start-->
		{% include "partials/_apartments-info.html" %}
		<!--apartments info block end-->

	</section>
</section>

<!--apartments end-->

<!--observation start-->

<section class="observation">
	{% include "partials/_observation.html" %}
</section>

<!--observation end-->

<!--developer start-->

<section class="developer">
	<section class="container">

		{% include "partials/_developer.html" %}

	</section>
</section>

<!--developer end-->

<!--footer start-->
<section class="footer">

	<section class="container">
		{% include "partials/_footer.html" %}
	</section>

</section>
<!--footer end-->

{% endblock %}