--- title: Obolon Residences --- {% extends "layouts/_layout.html" %} {% block content %}

<!--HEADER start-->
<header class="header">
	<!--LOGO start-->
	<div class="logo_wrap">
		<div class="logo"></div>
	</div>
	<!--LOGO end-->

	<!--CONTAINER start-->
	<section class="container container--header">

		<!--TOP CONTACTS start-->
		{%include "partials/_top-contacts.html"%}
		<!--TOP CONTACTS end-->

	</section>
	<!--CONTAINER end-->

	<div class="top_line">

		<!--CONTAINER start-->

		<section class="container">
			{%include "partials/_menu.html"%}
		</section>

		<!--CONTAINER end-->

	</div>

	<section class="slider">
		{% include "partials/_slider.html"%}
	</section>

</header>
<!--HEADER end-->

{% endblock %}