<!--apartments info start-->

<section class="apartments_info">
    <!--info start-->
    <section class="info">
        <h1 class="info__title">СЕКЦИЯ 2 <br> 4-КОМНАТНАЯ</h1>
        <div class="info__type-wrap">
            <a href="#!" class="info__type info__type--active">Тип1</a>
            <a href="#!" class="info__type">Тип П1</a>
        </div>
        <p class="info__text">Квартира расположена на 3-8 и 19-21 этажах Секции 2. Окна выходят на запад, юг и восток.</p>
    </section>
    <!--info end-->
    <!--measurement start-->
    <section class="measurement">
        <ul class="list">
            <li class="list__item"><p class="list__text">01. Холл</p><p class="list__number">9,33 кв.м</p></li>
            <li class="list__item"><p class="list__text">02. Кухня / Гостиная</p><p class="list__number">42,33 кв.м</p></li>
            <li class="list__item"><p class="list__text">03. Спальня</p><p class="list__number">15,54 кв.м</p></li>
            <li class="list__item"><p class="list__text">04. Спальня</p><p class="list__number">16,06 кв.м</p></li>
            <li class="list__item"><p class="list__text">05. Ванная	</p><p class="list__number">3,77 кв.м</p></li>
            <li class="list__item"><p class="list__text">06. Спальня</p><p class="list__number">19,37 кв.м</p></li>
            <li class="list__item"><p class="list__text">07. Спальня</p><p class="list__number">26,18 кв.м</p></li>
            <li class="list__item"><p class="list__text">08. Ванная	</p><p class="list__number">5,44 кв.м</p></li>
            <li class="list__item"><p class="list__text">09. Санузел</p><p class="list__number">2,62 кв.м</p></li>
            <li class="list__item"><p class="list__text">10. Кладовая</p><p class="list__number">4,41 кв.м</p></li>
            <li class="list__item"><p class="list__text">11. Коридор</p><p class="list__number">5,38 кв.м</p></li>
            <li class="list__item"><p class="list__text">12. Балкон</p><p class="list__number">0,76 кв.м</p></li>
            <li class="list__item"><p class="list__text">13. Балкон</p><p class="list__number">0,79 кв.м</p></li>
            <li class="list__item list__item--total"><p class="list__text list__total">Общая площадь</p><p class="list__number list__total">151,98 кв.м</p></li>
        </ul>
    </section>
    <!--measurement end-->
</section>

<!--apartments info end-->