<!--apartments info start-->

<section class="apartments_info apartments_info--section-a">
    <!--info start-->
    <section class="info">
        <h1 class="info__title"><span class="info__title--section">СЕКЦИЯ </span><br> <span class="info__title--rooms">-КОМНАТНАЯ</span></h1>

        <div class="info__type-wrap info__type-wrap-room1">
            <a href="#!" class="info__type" data-type="type1">Тип1</a>
            <a href="#!" class="info__type" data-type="type1p">Тип П1</a>
        </div>
        <div class="info__type-wrap info__type-wrap-room2">
            <a href="#!" class="info__type" data-type="type2">Тип2</a>
            <a href="#!" class="info__type" data-type="type2p">Тип П2</a>
        </div>
        <div class="info__type-wrap info__type-wrap-room3">
            <a href="#!" class="info__type" data-type="type3">Тип3</a>
            <a href="#!" class="info__type" data-type="type3p">Тип П3</a>
        </div>
        <div class="info__type-wrap info__type-wrap-room4">
            <a href="#!" class="info__type" data-type="type4">Тип4</a>
            <a href="#!" class="info__type" data-type="type4p">Тип П4</a>
        </div>
        <div class="info__type-wrap info__type-wrap-room5">
            <a href="#!" class="info__type" data-type="type-penthouse1">Пентхаус1</a>
            <a href="#!" class="info__type" data-type="type-penthouse1p">Пентхаус П1</a>
        </div>

        <p class="info__text">Квартира расположена на 3-8 и 19-21 этажах Секции 1. Окна выходят на запад, юг и восток.</p>
    </section>
    <!--info end-->
    <section class="apartment_layout">
        <img src="../img/scheme-room.jpg" alt="">
    </section>
    <!--measurement start-->
    <section class="measurement">
        <table>
            <tbody>

                <tr>
                    <td>01. Холл</td>
                    <td>9,33 кв.м</td>
                </tr>
                <tr>
                    <td>02. Кухня / Гостиная</td>
                    <td>42,33 кв.м</td>
                </tr>
                <tr>
                    <td>03. Спальня</td>
                    <td>15,54 кв.м</td>
                </tr>
                <tr>
                    <td>04. Спальня</td>
                    <td>16,06 кв.м</td>
                </tr>
                <tr>
                    <td>05. Ванная </td>
                    <td>3,77 кв.м</td>
                </tr>
                <tr>
                    <td>06. Спальня</td>
                    <td>19,37 кв.м</td>
                </tr>
                <tr>
                    <td>07. Спальня</td>
                    <td>26,18 кв.м</td>
                </tr>
                <tr>
                    <td>08. Ванная </td>
                    <td>5,44 кв.м</td>
                </tr>
                <tr>
                    <td>09. Санузел</td>
                    <td>2,62 кв.м</td>
                </tr>
                <tr>
                    <td>10. Кладовая</td>
                    <td>4,41 кв.м</td>
                </tr>
                <tr>
                    <td>11. Коридор</td>
                    <td>5,38 кв.м</td>
                </tr>
                <tr>
                    <td>12. Балкон</td>
                    <td>0,76 кв.м</td>
                </tr>
                <tr>
                    <td>13. Балкон</td>
                    <td>0,79 кв.м</td>
                </tr>
            </tbody>
            <tfoot>

                <tr>
                    <td>Общая площадь</td>
                    <td>151,98 кв.м</td>
                </tr>
            </tfoot>
        </table>

        <!--measurements links start-->
        <a href="#!" class="measurement__links measurement__links--pdf">Подробнее (скачать PDF)</a>
        <a href="#!" class="measurement__links measurement__links--booklet">Получить брошюру</a>
        <!--measurements links end-->
    </section>
    <!--measurement end-->
</section>

<!--apartments info end-->