<section class="apartments__topline">

    <!--choose secction start-->
    <div class="choose_section">
        <p class="apartments__topline__title">1. Выберите секцию</p>
        <div class="apartments__topline__sections">
            <div class="choose_section__btn choose_section__btn--a">Секция 1</div>
            <div class="choose_section__btn choose_section__btn--b">Секция 2</div>
        </div>
    </div>
    <!--choose secction end-->

    <!--choose room section-a start-->

    <div class="choose_room choose_room--section-a">
        <p class="apartments__topline__title">2. Выберите кол-во комнат</p>
        <div class="apartments__topline__rooms">
            <div class="choose_room__btn choose__btn--section-a" data-room="room1">1</div>
            <div class="choose_room__btn choose__btn--section-a" data-room="room2">2</div>
            <div class="choose_room__btn choose__btn--section-a" data-room="room3">3</div>
            <div class="choose_room__btn choose_room__btn--penthouse  choose__penthouse--section-a" data-room="penthouse">Пентхаус</div>
        </div>
    </div>

    <!--choose room section-a end-->

    <!--choose room section-b start-->

    <div class="choose_room choose_room--section-b">
        <p class="apartments__topline__title">2. Выберите кол-во комнат</p>
        <div class="apartments__topline__rooms">
            <div class="choose_room__btn choose__btn--section-b" data-room="room1">1</div>
            <div class="choose_room__btn choose__btn--section-b" data-room="room2">2</div>
            <div class="choose_room__btn choose__btn--section-b" data-room="room3">3</div>
            <div class="choose_room__btn choose__btn--section-b" data-room="room4">4</div>
            <div class="choose_room__btn choose_room__btn--penthouse  choose__penthouse--section-b" data-room="penthouse">Пентхаус</div>
        </div>
    </div>

    <!--choose room section-b end-->

    <!--choose room end-->

</section>