<section class="apartments__topline">

    <!--choose secction start-->
    <div class="choose_section">
        <p class="apartments__topline__title">1. Выберите секцию</p>
        <div class="apartments__topline__wrap">
            <div class="choose_section__btn choose_section__btn--first">Секция 1</div>
            <div class="choose_section__btn choose_section__btn--second">Секция 2</div>
        </div>
    </div>
    <!--choose secction end-->

    <!--choose room start-->

    <div class="choose_room">
        <p class="apartments__topline__title">2. Выберите кол-во комнат</p>
        <div class="apartments__topline__wrap">
            <div class="choose_room__btn">1</div>
            <div class="choose_room__btn">2</div>
            <div class="choose_room__btn">3</div>
            <div class="choose_room__btn apartments-active">4</div>
            <div class="choose_room__btn choose_room__btn--penthouse">Пентхаус</div>
        </div>
    </div>

    <!--choose room end-->
</section>