
    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--concierge">
                <div class="benefits_galary_item__more_info">подробнее</div>
            </div>
            <div class="benefits_galary_item__title">Консьерж-сервис</div>
        </a>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--gym">
                <div class="benefits_galary_item__more_info">подробнее</div>
            </div>
            <div class="benefits_galary_item__title">Спортзал</div>
        </a>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--conference-room">
                <div class="benefits_galary_item__more_info">подробнее</div>
            </div>
            <div class="benefits_galary_item__title">Конференц-комната</div>
        </a>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--lounge-zone">
                <div class="benefits_galary_item__more_info">подробнее
                </div>
            </div>
            <div class="benefits_galary_item__title">Лаунж зона<br> на крыше</div>
        </a>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--childs-room">
                <div class="benefits_galary_item__more_info">подробнее</div>
            </div>
            <div class="benefits_galary_item__title">Детская комната</div>
        </a>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--laundry">
                <div class="benefits_galary_item__more_info">подробнее</div>
            </div>
            <div class="benefits_galary_item__title">Прачечная</div>
        </a>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <a href="#benefits_modal_link" class="benefits_modal_link">
            <div class="benefits_galary_item__img benefits_galary_item__img--designe-studio">
                <div class="benefits_galary_item__more_info">подробнее</div>
            </div>
            <div class="benefits_galary_item__title">Студия дизайна</div>
        </a>
    </div>
    <!--galary item end-->