<div class="benefits_galary__row">
    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--concierge">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link">Консьерж-сервис</a></div>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--gym">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link">Спортзал</a></div>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--conference-room">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link">Конференц-комната</a></div>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--lounge-zone">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link"> Лаунж зона<br> на крыше</a></div>
    </div>
    <!--galary item end-->
</div>
<div class="benefits_galary__row benefits_galary__row--second">
    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--childs-room">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link"> Детская комната</a></div>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--laundry">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link"> Прачечная</a></div>
    </div>
    <!--galary item end-->

    <!--galary item start-->
    <div class="benefits_galary_item">
        <div class="benefits_galary_item__img benefits_galary_item__img--designe-studio">
            <div class="benefits_galary_item__more_info"><a href="#benefits_modal_link" class="benefits_modal_link">подробнее</a></div>
        </div>
        <div class="benefits_galary_item__title"><a href="#benefits_modal_link" class="benefits_galary_item__title--link benefits_modal_link">  Студия дизайна</a></div>
    </div>
    <!--galary item end-->
</div>