<div class="benefits_modal__img"></div>
<div class="benefits_modal__info">
    <div class="benefits_modal__top_line">
            <h1 class="benefits_modal__title">НЕПОВТОРИМЫЙ СТИЛЬ ЖИЗНИ</h1>
        <a href="#!" class="benefits_modal__close"></a>
    </div>
    <div class="benefits_modal__text_wrap">
        <p>
            Самое главное для нас – обеспечить комфорт<br> и безопасность наших жителей.
        </p>
        <p>
            Наши сотрудники на высоком профессиональном<br> уровне предоставят Вам следующие услуги:
        </p>
        <ul>
            <li> стирка и химчистка</li>
            <li> услуги горничной</li>
            <li> уход за детьми</li>
            <li> ремонт обуви и одежды</li>
            <li> транспортные услуги и аренда автомобиля с водителем</li>
            <li> бронирование ресторанов</li>
            <li> организация доставки</li>
            <li> общие справочные услуги</li>
        </ul>
        <p>
            Сотрудники reception известят Вас о прибытии гостей и,<br> получив Ваше личное подтверждение, проводят их до лифта.
        </p>
        <p>
            Круглосуточная охрана осуществляется высококвалифицированным<br> персоналом посредством системы видеонаблюдения, с уважением
        </p>
    </div>
</div>