<!--developer logo start-->
<div class="developer__logo_wrap">
    <img src="img/developer-logo.png" alt="Dragon-Ukrainian Properties & Development plc">
</div>
<!--developer logo end-->

<!--developer info start-->
<section class="developer__info_wrap">
    <!--developer info start-->
    <div class="developer__info">
        <p>Obolon Residences – это еще один объект жилой недвижимости исключительного качества в портфеле Dragon-Ukrainian Prop<br>erties
            & Development plc (DUPD), международного девелопера, акции<br> которого котируются на Лондонской<br> фондовой
            бирже.
        </p>
        <p>
            Продажу квартир осуществляет ЗНВПИФ "Девелопмент" ООО "Драгон Эссет Менеджмент".
        </p>
    </div>
    <!--developer info end-->

    <!--developer info start-->
    <div class="developer__info">
        <p>DUPD создан инвестиционной компанией целью инвестирования в украинский рынок жилой и коммерческой недвижимости. DUPD
            уже инвестировал более $250 млн. <br>в ряд проектов в Украине, среди которых коттеджный городок Green Hills,
            эксклюзивный клубный поселок Riviera Villas, сеть гипермаркетов «Новая линия» и компания Arricano, инвестирующая
            в объекты торговой недвижимости <br>(торгово-развлекательные центры Skymall, «Район», «Проспект» (Киев), Sun
            Gallery (Кривой Рог), City Mall (Запорожье), Inter Mall (Симферополь) и другие).
        </p>

    </div>
    <!--developer info end-->

    <!--developer info start-->

    <div class="developer__info">
        <p>Dragon Capital – крупнейшая инвестиционная компания Украины, предоставляющая полный спектр инвестиционно-банковских
            и брокерских услуг для институциональных, корпоративных и частных клиентов. Основана в 2000 в Киеве. Контроль
            над Dragon Capital принадлежит ее менеджменту, миноритарным пакетом компании владеет Goldman Sachs, одна из крупнейших
            мировых инвестиционных компаний. Под управлением Dragon Capital находится инвестиционный портфель стоимостью
            около $0,5 млрд.
        </p>

    </div>

    <!--developer info end-->
</section>
<!--developer info end-->