<!--footer facebook start-->
<section class="facebook">
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/ObolonResidences/" data-tabs="timeline" data-width="307" data-height="500"
    data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/ObolonResidences/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ObolonResidences/">Obolon Residences</a></blockquote>
</div>
</section>
<!--footer facebook end-->


<!--footer contacts start-->

<section class="contacts_block">
    <section class="contact_info_wrap">
        <div class="contact">
            <h1 class="contact__title">Офис Продаж</h1>
            <p class="contact__text">
                <span class="contact__text--medium">Ждем Вас по адресу</span><br> пр. Оболонский, 26<br> Киев, 04205, Украина
            </p>
            <p class="contact__text">
                <span class="contact__text--medium">Режим работы офиса продаж:</span><br> Пн.–Пт. 9:00 – 19:00<br> Сб., Вс.
                10:00 – 16:00
            </p>
        </div>
        <div class="contact contact--email">
            <p class="cantact__tel">+38 (044) 498 26 26</p>
            <p class="contact__email">info@o-r.com.ua</p>
        </div>
    </section>
</section>

<!--footer contacts end-->

<!--footer form start-->
<section class="footer__form_wrap">
    <form class="form">
        <h1 class="form__title">Задать Вопрос</h1>
        <p class="form__input_wrap"><input type="text" class="form__input" placeholder="Введите Имя"></p>
        <p class="form__input_wrap"><input type="text" class="form__input" placeholder="Введите e-mail/телефон"></p>
        <p class="form__input_wrap"><textarea class="form__input form__textarea" placeholder="Введите коментарий"></textarea>
        <p> <input type="submit" class="form__submit" value="Отправить"></p>
    </form>
</section>
<!--footer form end-->