<div class="menu_left_wrap">
    <nav>
        <ul class="menu menu--left">
            <li class="menu__item menu__item--left menu__item--benefits">
                <a href="#!" class="menu__link menu__link--active">Преимущества</a>
            </li>
            <li class="menu__item menu__item--left menu__item--location">
                <a href="#!" class="menu__link">Расположение</a>
            </li>
            <li class="menu__item menu__item--left menu__item--galary">
                <a href="#!" class="menu__link">Галерея</a>
            </li>
        </ul>
    </nav>
</div>
<div class="menu_right_wrap">
    <nav>
        <ul class="menu menu--right">
            <li class="menu__item menu__item--right menu__item--apartments">
                <a href="#!" class="menu__link">Апартаменты</a>
            </li>
            <li class="menu__item menu__item--right menu__item--developer">
                <a href="#!" class="menu__link">Девелопер</a>
            </li>
            <li class="menu__item menu__item--right menu__item--contacts">
                <a href="#!" class="menu__link">Контакты</a>
            </li>
        </ul>
    </nav>
</div>

<!--menu mobile start-->
<nav>
    <ul class=" menu menu_mobile">
        <li class="menu_mobile__item">
            <a href="#!" class="menu__link menu__link--active">Преимущества</a>
        </li>
        <li class="menu_mobile__item">
            <a href="#!" class="menu__link">Расположение</a>
        </li>
        <li class="menu_mobile__item">
            <a href="#!" class="menu__link">Галерея</a>
        </li>
        <li class="menu_mobile__item">
            <a href="#!" class="menu__link">Апартаменты</a>
        </li>
        <li class="menu_mobile__item">
            <a href="#!" class="menu__link">Девелопер</a>
        </li>
        <li class="menu_mobile__item">
            <a href="#!" class="menu__link">Контакты</a>
        </li>
    </ul>
</nav>
<!--menu mobile end-->