<div class="menu_left_wrap">
    <nav>
        <ul class="menu menu--left">
            <li class="menu__item">
                <a href="#benefits" class="menu__link">Преимущества</a>
            </li>
            <li class="menu__item">
                <a href="#location" class="menu__link">Расположение</a>
            </li>
            <li class="menu__item menu__item--last">
                <a href="#gallery" class="menu__link">Галерея</a>
            </li>
        </ul>
    </nav>
</div>
<div class="menu_right_wrap">
    <nav>
        <ul class="menu menu--right">
            <li class="menu__item menu__item--right">
                <a href="#apartments" class="menu__link">Апартаменты</a>
            </li>
            <li class="menu__item menu__item--right">
                <a href="#developer" class="menu__link">Девелопер</a>
            </li>
            <li class="menu__item menu__item--right menu__item--last">
                <a href="#contacts" class="menu__link">Контакты</a>
            </li>
        </ul>
    </nav>
</div>