<!--web-camera start-->
<section class="observation__button web_camera">
    <a href="#!" class="observation__link">
        <h1 class="observation__title">веб-камера</h1>
        <p class="observation__text">Ход строительства в реальном времени</p>
    </a>
</section>
<!--web-camera end-->

<!--observation galary start-->
<section class="observation__button observation_gallery">
    <a href="#!" class="observation__link">
        <h1 class="observation__title">галерея</h1>
        <p class="observation__text">Фотографии интерьра и экстерьера</p>
    </a>
</section>
<!--observation galary end-->