<!--slide start-->
<div class="slide">
    <div class="slide__img_wrap">
        <img src="img/slider-img.jpg" alt="hall" class="slide__img">
    </div>
    <!--slide footer start-->
    <div class="slide__footer">

        <section class="container container--slider">
            <div class="slide__icon"></div>

            <div class="slide__info_block">
                <p class="slide__info">
                    Obolon Residences – жилой комплекс премиум класса, созданный по западным стандартам британским девелопером Dragon-Ukrainian
                    Properties & Development. Комплекс находится в самом сердце Оболони, в нескольких шагах от станции метро
                    «Минская». <br>Западный дизайн, роскошные интерьеры<br> лобби и этажей, отделка мрамором,
                </p>
            </div>

            <div class="slide__info_block">
                <p class="slide__info">
                    скоростные лифты – это лишь несколько отличительных черт комплекса. Квартиры с панорамными окнами и эффективными планировками
                    и элитные пентхаусы удивят даже самых искушенных. Беспрецедентный комплекс услуг и эксклюзивная инфраструктура
                    лучших резиденций мировых мегаполисов – для жителей Obolon Residences:
                </p>
            </div>

            <div class="slide__info_block">
                <p class="slide__info">
                    лаунж-зона на крыше с джакузи, спортзал, детская комната, конференц-зал, прачечная и пятизвездочный сервис.
                    <br>
                    <br> ЖК Obolon Residences – победитель престижной европейской премии European Property Awards 2014-2015
                    в категории «Высотные жилые здания».
                </p>
            </div>

        </section>

    </div>
    <!--slide footer end-->
</div>
<!--slide end-->