/*apartments info start*/

.apartments_info{
    padding: 0 40px 0 40px;
    overflow: hidden;
    @include r(320){
        padding: 0 10px 0 10px;
    }
    @include r(480){
        padding: 0 10px 0 10px;
    }
    @include r(568){
        padding: 0 10px 0 10px;
    }
    @include r(640){
        padding: 0 10px 0 10px;
    }
    @include r(768){
        padding: 0 10px 0 10px;
    }
    @include r(1024){
        padding: 0 10px 0 10px;
    }
}

/*info start*/

.info{
    float: left;
    overflow: hidden;
    margin: 38px 0 0 2px;
}
.info__title{

    @include helvetica-roman;
    
    font-size: em(18);
    font-weight: 400;
    color: #a59864;
    letter-spacing: 0.7px;
    line-height: 1.3;
    text-transform: uppercase;
}

.info__type-wrap{
    margin: 29px 0 0 0;

    @include helvetica-medium;
    font-size: em(14);
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 1.7;

    @include r(320){
        margin-top: 20px;
    }
    @include r(480){
        margin-top: 20px;
    }
    @include r(568){
        margin-top: 20px;
    }
    @include r(640){
        margin-top: 20px;
    }
}
.info__type{
    display: block;
    color: #b5b5b5;

    &--active{
        color: #a59864;
    }

    &:hover{
        color: #a59864;
    }
}

.info__text{
    width: 150px;
    margin: 118px 0 0 0;

    @include helvetica-light;
    font-size: em(12);
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 1.3;

    @include r(320){
        margin-top: 50px;
    }

    @include r(480){
        margin-top: 50px;
    }

    @include r(568){
        margin-top: 50px;
    }
    
    @include r(640){
        margin-top: 50px;
    }

    
}

/*measurement start*/

.measurement{
    float: right;
    overflow: hidden;
    margin: 46px 0 0 0;
    width: 228px;

 @include r(320){
     width: 100%;
     float: none;
 }
 @include r(480){
     width: 100%;
     float: none;
 }
 @include r(568){
     width: 100%;
     float: none;
 }
 @include r(640){
     width: 90%;
     float: none;
     margin-left: auto;
     margin-right: auto;
 }
 @include r(768){
     width: 50%;
     float: none;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }

    table{
    
    line-height: 1.2;
        tr{
            overflow: hidden;
            margin-bottom: 0.5px;

            td{
                @include helvetica-light;
                font-size: em(12);
                font-weight: bold;
                color: #191821;
                letter-spacing: 0.6px;
            }
            td:nth-child(2){
                text-align: right;
            }
        }
        
        tfoot{
            td{
            @include helvetica-medium;
            font-weight: 500;
            color: #b8aa86;
            padding: 20px 0 0 0;
            }
        }
    }
}


/*measurements links start*/

.measurement__links{
    display: block;

    @include helvetica-medium;
    font-size: em(14);
    font-weight: 500;
    letter-spacing: 0.7px;
    @include r(768){
        text-align: center;
    }
}

.measurement__links--pdf{
    margin: 24px 0 0 2px;
    color: #d50202;
}
.measurement__links--booklet{
    margin: 14px 0 0 2px;
    color: #191821;
}

/*measurements links end*/


/*apartment layout start*/

.apartment_layout{
    float: left;
    width: 60%;
    text-align: center;
    padding: 34px 0 0 5px;
    @include r(320){
        width: 100%;
        padding-left: 0;
        & img{
            width: 300px;
        }
    }
    @include r(480){
        width: 100%;
        padding-left: 0;
        & img{
            width: 320px;
        }
    }
    @include r(568){
        width: 100%;
        padding-left: 0;
        & img{
            width: 380px;
        }
    }
    @include r(640){
        width: 100%;
        padding-left: 0;
        & img{
            width: 480px;
        }
    }
    @include r(768){
        padding-left: 0;
        & img{
            width: 480px;
        }
    }
}

.flat{
    overflow: hidden;
}

/*flat modal start*/

.flat_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}
.flat_modal__container{
    width: 1300px;
    overflow: hidden;
    margin: 200px auto 0 auto;
    @include r(1024){
        width: 100%;
        margin: 0;
    }
    @include r(768){
        width: 100%;
        margin: 0;
    }
    @include r(640){
        width: 100%;
        margin: 0;
    }
    @include r(568){
        width: 100%;
        margin: 0;
    }
    @include r(480){
        width: 100%;
        margin: 0;
    }

    @include r(320){
        width: 100%;
        margin: 0;
    }
    
}
.flat_modal__close{
    @include s(modal-close);
    position: absolute;
    top: 61px;
    right: 71px;
    @include r(1024){
        top: 10px;
        right: 10px;
    }
    @include r(768){
        top: 10px;
        right: 10px;
    }
    @include r(640){
        top: 10px;
        right: 10px;
    }
    @include r(568){
        top: 10px;
        right: 10px;
    }
    @include r(480){
        top: 10px;
        right: 10px;
    }
    @include r(320){
        top: 10px;
        right: 10px;
    }
    
}
.flat_modal__layout{
    float: left;

    @include r(1024){
        width: 70%;
        margin: 50px 0 0 0;
        & img{
                width: 100%;
                height: 100%;
        }
    }
    @include r(768){
        float: none;
        width: 100%;
        height: 300px;
        margin: 50px 0 0 0;
        & img{
                width: 100%;
                height: 100%;
        }
    }
    @include r(640){
        float: none;
        width: 100%;
        height: 300px;
        margin: 50px 0 0 0;
        & img{
                width: 100%;
                height: 100%;
        }
    }
    @include r(568){
        float: none;
        width: 100%;
        height: 300px;
        margin: 50px 0 0 0;
        & img{
                width: 100%;
                height: 100%;
        }
    }
    @include r(480){
        float: none;
        width: 100%;
        height: 300px;
        margin: 50px 0 0 0;
        & img{
                width: 100%;
                height: 100%;
        }
    }
    @include r(320){
        float: none;
        width: 100%;
        height: 300px;
        margin: 50px 0 0 0;
        & img{
                width: 100%;
                height: 100%;
        }
    }
}
.flat_modal__info{
    float: right;
    margin: 86px 60px 0 0;
    @include r(1024){
        
        margin: 116px 0 0 0;
    }
    @include r(768){
        float: none;
        margin: 0 0 0 0;
    }
    @include r(640){
        float: none;
        margin: 0 0 0 0;
    }
    @include r(568){
        float: none;
        margin: 0 0 0 0;
    }
    @include r(480){
        float: none;
        margin: 0 0 0 0;
    }
    @include r(320){
        float: none;
        margin: 0 0 0 0;
    }
    
}
.info__title--flat_modal{
    font-size: em(24);
    @include r(1024){
        font-size: em(18);
        padding-left: 10px;
    }
    @include r(768){
        font-size: em(18);
        padding-left: 10px;
    }
    @include r(640){
        font-size: em(18);
        padding-left: 10px;
    }
    @include r(568){
        font-size: em(18);
        padding-left: 10px;
    }
    @include r(480){
        font-size: em(18);
        padding-left: 10px;
    }
    @include r(320){
        font-size: em(18);
        padding-left: 10px;
    }
}
.measurement--flat_modal{
        width: 300px;
    table{
    
    
        tr{
            

            td{
               
                font-size: em(18);
                @include r(320){
                    font-size: em(16);
                }
                
            }
        }
}
    @include r(1024){
        margin: 10px 0 0;
        padding: 0 10px; 
    }
    @include r(768){
        margin: 10px 0 0;
        padding: 0 10px; 
    }
    @include r(640){
        margin: 10px 0 0;
        padding: 0 10px; 
    }
    @include r(568){
        margin: 10px 0 0;
        padding: 0 10px; 
    }
    @include r(480){
        margin: 10px 0 0;
        padding: 0 10px; 
    }
    @include r(320){
        margin: 10px 0 0;
        padding: 0 10px; 
    }
}
.measurement__links--flat_modal{
    font-size: em(18);
    @include r(1024){
        text-align: center;
    }
    @include r(768){
        text-align: center;
    }
    @include r(640){
        text-align: center;
    }
    @include r(568){
        text-align: center;
    }
    @include r(480){
        text-align: center;
    }
    @include r(320){
        text-align: center;
    }
}
/*flat modal end*/

/*apartment layout end*/
/*apartments info end*/