/*benefits info start*/
.benefits_block__info{
    background-color: #f9f9f9;
}

.benefit_info{
    float: left;
    width: 307px;
    margin: 0 0 0 40px;
    padding: 40px 0 40px 0;

    @include helvetica-light;

    font-size: em(14);
    font-weight: bold;
    color: #191821;
    line-height: 1.22;
    & p{
         margin: 0 8px 16px 0;
         &:last-child{
             margin-bottom: 0;
         }
    }
    @include r(640){
        width: 100%;
        margin: 0;
        padding: 5px 10px 5px 10px;
    }
    @include r(1040){
        width: 33%;
        margin: 0;
        padding: 5px 10px 5px 10px;
    }
}
/*benefits info end*/

/*benefits galary start*/

.benefits_galary{
    width: 100%;
    overflow: hidden;
}
.benefits_galary__row{
    @include rmin(1024){
        overflow: hidden;
    }
}
.benefits_galary__row-second{
    @include rmin(1024){
        width: 798px;
        margin: 0 auto;
        & .benefits_galary_item{

            margin: 5px 33px 0 33px;
        
        }
    }
    
}

.benefits_galary_item{
    float: left;
    width: 200px;
    margin: 70px 26px 0 40px;
    & a{
            text-decoration: none;
            display: block;
    }
    @include helvetica-thin;

    font-size: em(18);
    font-weight: bold;

    @include r(1024){
        float: left;
        margin-left: 28px;
        margin-right: 28px;
    }
    @include r(768){
        float: left;
        margin-left: 80px;
        margin-right: 80px;
    }
    @include r(736){
        float: left;
        margin-left: 64px;
        margin-right: 64px;
    }
    @include r(667){
        float: left;
        margin-left: 55px;
        margin-right: 55px;
    }
    @include r(640){
        float: left;
        margin-left: 40px;
        margin-right: 40px;
    }
    @include r(568){
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    @include r(479){
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

}

.benefits_galary_item__title{
    text-align: center;
    letter-spacing: 1px;
    margin: 11px 0px 0 0px;
    color: #272425;
}


.benefits_galary_item__more_info{
    display: none;
    position: absolute;
    top: 18%;
    left: 18%;
    width: 130px;
    height: 130px;
    border-radius: 50%;

    @include helvetica-light;
    font-size: em(18);
    text-align: center;
    padding: 49px 0px 0 0px;
    background-color: rgba(181, 181, 181, 0.6);
    
    color:#fff;
    & a{
    }
}

.benefits_galary_item__img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover > .benefits_galary_item__more_info{
        display: block;
    }
}
@each $n in concierge,gym,conference-room,lounge-zone,childs-room,laundry,designe-studio{
    .benefits_galary_item__img--#{$n}{
        background-image: url("../img/#{$n}.jpg");
    }
}

/*benefits modals start*/

.benefits_modal{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    color: #191821;
    
    @include r(768){
        width: 100%;
    }
}

.benefits_modal__img{
    float: left;
    background-image: url("../img/benefits-modal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 333px;
    height: 500px;

    @include r(768){
        display: none;
    }
}
.benefits_modal__info{
    float: right;
    width: 667px;
    padding: 0 0 0 61px;

    h1{
        float:left;
        margin: 52px 0 0 0;
        @include helvetica-thin;
        font-size: em(24);
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.7px;

        @include r(768){
            margin-top: 70px;
        }
    }
    p{
        margin-bottom: 15px;
    }
    ul{
        list-style-type: disc;
            margin: 0 0 5px 15px;
    }
    
    @include r(768){
        float: none;
        width: 100%;
        padding: 0 10px 0 10px;
    }
}
.benefits_modal__top_line{
    overflow: hidden;
}

.benefits_modal__close{
    display: block;
    float: right;
    margin: 32px 35px 0 0;
    @include s(modal-close);

    
    @include r(768){
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0 0 0 0;
    }

}

.benefits_modal__text_wrap{
    margin: 28px 0 0 0;
    @include helvetica-light;
    font-size: em(14);
    font-weight: 300;
    letter-spacing: 0.6px;
}


/*benefits modals end*/

/*benefits galary end*/