/*footer start*/
.footer{
    padding-bottom: 101px;
    background-color: #191821;
}
.facebook{
    float: left;
    margin: 73px 0 0 40px;
    width: 307px;
    @include r(1023){
        display: none;
    }
}

.contacts_block{
    float: right;
    width: 654px;
    margin: 67px 40px 0 0;
    @include r(320){
        float: none;
        width: 100%;
        margin-right: 0;
    }
    @include r(480){
        float: none;
        width: 100%;
        margin-right: 0;
    }
    @include r(568){
        float: none;
        width: 100%;
        margin-right: 0;
    }
}
.contact_info_wrap{
    overflow: hidden;
}
.contact{
    float: left;
    width: 50%;
    color: #fff;
    padding: 0 0 0 31px;
    @include r(320){
        float: none;
        width: 100%;
        padding-left: 10px;
    }
    @include r(480){
        float: none;
        width: 100%;
        padding-left: 10px;
    }
    @include r(568){
        float: none;
        width: 100%;
        padding-left: 10px;
    }
}

.contact--email{
    padding: 36px 0 0 6px;
    @include r(320){
        padding: 10px 0 0 10px;
    }
    @include r(480){
        padding: 10px 0 0 10px;
    }
    @include r(568){
        padding: 10px 0 0 10px;
    }
}

.contact__title{
    @include helvetica-thin;
    font-size: em(24);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0 0 9px 0
}

.contact__text{
    @include helvetica-light;
    font-size: em(14);
    font-weight: 300;
    line-height: 1.22;
    letter-spacing: 0.7px;
    margin: 0 0 13px 0;

    &--medium{
        @include helvetica-medium;
        color: #a59864;
        font-weight: 500;
        letter-spacing: 0.7px;
    }
}

.cantact__tel{
    @include helvetica-roman;
    font-size: em(20);
    font-weight: 400;
    letter-spacing: 0.9px;
}

.contact__email{
    @include helvetica-light;
    font-size: em(20);
    font-weight: 300;
    color: #a59864;
    letter-spacing: 0.8px;
}


.footer__form_wrap  {
    width: 622px;
    float: right;
    margin: 14px 42px 0 0;
    background-color: #a59864;

    @include r(320){
        width: 100%;
        float: none;
        margin: 14px 0 0 0;
    }
    
    @include r(480){
        width: 100%;
        float: none;
        margin: 14px 0 0 0;
    }
    @include r(568){
        width: 100%;
        float: none;
        margin: 14px 0 0 0;
    }
}


/*footer end*/