/*menu start*/
.menu_left_wrap{
    display: inline-block;
    margin: 0 0 0 40px;
}

.menu_right_wrap{
    float: right;
    margin: 0 39px 0 0;
}

.menu{
    overflow: hidden;
}
.menu__item{
    float: left;
    margin: 0 48px 0 0;
}
.menu__item--right{
    margin: 0 0 0 61px;
}
.menu__item--last{
    letter-spacing: 0.5px;
}



.menu__link{
    display: block;
    text: {
        decoration: none;
        transform: uppercase;
    };

    @include helvetica-light;
    font-weight: bold;
    font-size: em(12);
    color: #a59864;
    &--active{
    color: #191821;
}
    @include r(768){
        color:#fff;
        font-weight: 300;
        &--active{
            color:#191821;
        }
    }
}


.mb_menu_wrap{
    transition: all 1s;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color:#a59864;
    z-index: 1;
    &__icon{
        @include s(mb-menu-icon);
        margin: 10px 0 0 10px;
    }
    @include rmin(1024){
        display: none;
    }
}
.mb_menu_wrap--open{
    top:0;
    right: 0;
    width:100%;
    height:100%;
    
}
.mb_menu{
    display: none;
    text-align: center;
        a{
            padding: 20px;
            
        }
}
/*menu end*/