/*slider start*/
.slider{
    height: 729px;
    overflow: hidden;
    @include r(768){
        height: 480px;
    }
    @include r(640){
        height: 400px;
    }
    @include r(568){
        height: 380px;
    }
    @include r(480){
        height: 320px;
    }
    @include r(400){
        height: 300px;
    }
}

.slide__img{
    width: 100%;
    overflow: hidden;
    height: 729px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include r(768){
        height: 480px;
    }

    @include r(640){
        height: 400px;
    }

    @include r(568){
        height: 380px;
    }

    @include r(480){
        height: 320px;
    }

    @include r(400){
        height: 300px;
    }
}

/*slider end*/