/*slider start*/
.slider{
    height: 729px;
    overflow: hidden;
    @include r(768){
        height: 480px;
    }
    @include r(640){
        height: 400px;
    }
    @include r(568){
        height: 380px;
    }
    @include r(480){
        height: 320px;
    }
    @include r(400){
        height: 300px;
    }
}

.slide__img_wrap{
    width: 100%;
    overflow: hidden;
    height: 729px;

    @include r(768){
        height: 480px;
    }

    @include r(640){
        height: 400px;
    }

    @include r(568){
        height: 380px;
    }

    @include r(480){
        height: 320px;
    }

    @include r(400){
        height: 300px;
    }
}
.slide__img{
    width: 100%;
    height: 100%;
}

/*slider end*/