/*top-contacts start*/

.top_contacts{
    float: right;
    @include r(480){
        float: none;
        overflow: hidden;
    }
    @include r(568){
        float: none;
        overflow: hidden;
    }
}

.contact_block{
    float: left;
    margin: 0 11px 0 0;
    /*@include r(320){
        float: none;
        margin: 0 0 0 0;
    }*/
    @include r(480){
        float: none;
        margin: 0 0 0 0;
    }
    @include r(568){
        float: none;
        margin: 0 0 0 0;
    }
}
.contact_tel{
    margin: 27px 0 0px 0;
    @include helvetica-medium;
    font-size: em(18);
    color: #383430;
    text-align: center;
    letter-spacing: 1px;
}
.contact_appointment{
    margin: 6px 0 0 0;
    @include helvetica-light;
    font-size: em(14);
    background-color: #901313;

    /*@include r(320){
        text-align: center;
    }*/
    @include r(480){
        text-align: center;
    }
    @include r(568){
        text-align: center;
    }
}
.contact_appointment__link{
    display: block;
    padding: 10px 15px 11px 16px;
    color: #ffffff;
    letter-spacing: 1px;

}

.lang_block{
    float: right;
    margin: 25px 0 0 0;
    /*@include r(320){
        float: none;
        margin: 5px 0 5px 0;
        text-align: center;
    }*/
    @include r(480){
        float: none;
        margin: 5px 0 5px 0;
        text-align: center;
    }
    @include r(568){
        float: none;
        margin: 5px 0 5px 0;
        text-align: center;
    }
}

.lang_link{
    display: block;
    text-decoration: none;
    @include helvetica-light;
    font-size: em(14);
    color: #a6a6a6;
        
        &:hover{
            text-decoration: underline;
        }

        /*@include r(320){
            display: initial;
            padding: 3px 20px 3px 20px;
        }*/
        @include r(480){
            display: initial;
            padding: 3px 20px 3px 20px;
        }
        @include r(568){
            display: initial;
            padding: 3px 20px 3px 20px;
        }
}
/*top-contacts end*/